body {
  font-family: poppins, arial, sans-serif;
  background: rgb(252, 213, 206);
  background: linear-gradient(
    90deg,
    rgba(252, 213, 206, 1) 0%,
    rgba(250, 225, 221, 1) 35%,
    rgba(255, 215, 186, 1) 100%
  );
}

h1 {
  color: #22223b;
  font-size: 34px;
  font-weight: 400;
  line-height: 28px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #4a4e69;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

input#city-input.form-control {
  margin: auto 10px;
  padding: 5px;
  width: 300px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 10px;
  border: 3px solid #ffcdb2;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #22223b;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
}

.weather-temperature .active {
  color: #22223b;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8064a2 !important;
  font-size: 10px;
}
.clearfix {
  position: relative;
  left: 270px;
  padding: 0px;
  margin: 0 auto;
}

.links {
  text-align: center;
}
div.col-6 {
  margin: 5px;
  padding: 0px;
  height: 2%;
}
.weather-forecast {
  margin: auto;
  padding: 10px;
}
